.card:hover{
    box-shadow: 5px 10px 20px 1px rgba(255,255,255, 0.283 ) !important;
    transition: all 0.6s linear;
    
}
.card-body{
    padding: 2rem 0 !important;
}

.card-text{
    padding: 0.3 rem 1 rem;
    font-size: 1rem;
}
.card-img-top{
    transition: all 0.4s ease-in-out;
}

.card-img-top:hover{
    transform:scale(1.8);
}
.overflow{
    overflow:hidden;
}